html{
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    
}
.wrapper{
    margin: 0 auto;
    max-width: 1240px;
    background-color: #fff;
}
@media (max-width: 700px){
    .nav{
     
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .aside{
        margin: 0 auto;
    }
}
@media (max-width: 420px){
    pre{
        max-width: 260px;
        overflow-x: scroll;
        padding: 20px;
      }
      .header img{
        width: 120px;
      }
}
p{
    font-size: 18px;
}
a{
    text-decoration: none;
    color:black;
    transition: 0.3s;
   
}
a:hover{
    color: #e6e21f;

}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}

section{
    padding: 10px 20px;
    max-width: 1200px;
}
/* style for header */
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgb(230,226,31);
    background: linear-gradient(0deg, rgba(230,226,31,1) 0%, rgba(232,192,136,1) 100%);
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px 0;
}
.header img{
    margin-right: 20px;
    max-width: 200px;
    border-radius: 5%;
}
/* styles for nav */
.nav{
    background: rgb(255,255,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav div{
    margin-right: 10px;
}

/* style for contacts */
.contacts{
    background: rgb(230,226,31);
    background: linear-gradient(90deg, rgba(230,226,31,1) 0%, rgba(232,192,136,1) 100%);
}
.contacts li{
    list-style-type: none;
    line-height: 30px;
}
.contacts li span{
    font-weight: 600;
}
.contacts ul{
    padding: 0px;
    margin: 10px;
}
/* style for education */
.education{

}
.education img{
    max-width: 100%;
}
/* style for work */
.work{
    background: rgb(230,226,31);
    background: linear-gradient(90deg, rgba(230,226,31,1) 0%, rgba(232,192,136,1) 100%);

}
/* style for about */
.about{

}
.about__item-italic{
    font-style: italic;
}
/* style for experience */
.experience{
    background: rgb(230,226,31);
    background: linear-gradient(90deg, rgba(230,226,31,1) 0%, rgba(232,192,136,1) 100%);
}
.experience table{
    border-spacing: 0px;
    max-height: 50px;
}
.experience table th{
    border: 1px solid black;
    padding: 5px;
}

.examples{

    
}
.aside{
    max-width: 420px;
}
.projects img{
 max-height: 300px;
 max-width:250px;
}
.projects ul{
    padding-left: 5px;
    list-style-type:none;
}
.projects li{
    margin-bottom: 10px;
}

/* style for languages */
.languages{

}
/* style for footer */
.footer{
    background: rgb(230,226,31);
    background: linear-gradient(90deg, rgba(230,226,31,1) 0%, rgba(232,192,136,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_img{
    width: 50px;
}